.env
binfiles
ncfiles
old_results
jsonfiles
*.nc
*.json
*.pyc
working_script_samples/*.gz
working_script_samples/*.json
working_script_samples/*.nc
working_script_samples/*.png
working_script_samples/*.txt
working_script_samples/*.awk
working_script_samples/*.sh
working_script_samples/*.bin
working_script_samples/*.bin_1
*.ipynb
.ipynb_checkpoints
logs
assets
*.png
